.crew {
  display: grid;
  align-items: flex-end;
  min-height: 80vh;
  gap: 5em;
  grid-template-columns: repeat(2, 1fr);
}
.crew .content {
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.crew .img-wrapper {
  min-width: 600px;
}

.crew .content h1 {
  margin: 0;
  padding: 0;
}

.crew .content h3,
.crew .content h2 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.crew .content h2 {
  font-size: 4em;
  margin-bottom: 0.5em;
}
.crew .content h3 {
  font-size: 2em;
  color: grey;
}

.crew .content p {
  font-size: 1.4em;
  letter-spacing: 1px;
  max-width: 600px;
  line-height: 1.4em;
}

.crew .button-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10em;
}

.crew button {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.crew button.active {
  background-color: #fff;
}

.crew button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 1100px) {
  .crew {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .crew .content {
    justify-content: center;
    align-items: center;
    order: 1;
    min-height: auto;
    text-align: center;
  }

  .crew .content h2 {
    font-size: 3em;
  }

  .crew .content p {
    text-align: center;
    font-size: 1.1em;
  }

  .crew .img-wrapper {
    max-width: 400px;
    min-width: auto;
  }

  .crew img {
    border-bottom: 1px solid grey;
  }

  .crew .button-wrapper {
    margin-top: 2em;
  }

  .crew button {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .crew {
    min-height: auto;
  }
  .crew .content h2 {
    font-size: 1.5em;
  }
  .crew .content h3 {
    font-size: 1.2em;
  }

  .crew .content p {
    font-size: 1em;
    letter-spacing: 1px;
  }

  .crew button {
    width: 10px;
    height: 10px;
  }

  .crew .img-wrapper {
    max-width: 250px;
  }
}
