.crew {
  display: grid;
  align-items: flex-end;
  min-height: 80vh;
  gap: 3em;
  grid-template-columns: repeat(2, 1fr);
}
.crew .content {
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.crew .content h1 {
  margin: 0;
  padding: 0;
}

.crew .content h3,
.crew .content h2 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.crew .content h2 {
  font-size: 4em;
  margin-bottom: 0.2em;
}
.crew .content h3 {
  font-size: 2em;
  color: rgb(153, 152, 152);
}

.crew .content p {
  font-size: 1.4em;
  letter-spacing: 1px;
  max-width: 600px;
  line-height: 1.4em;
}

.crew img {
  border-bottom: 1px solid grey;
}

/* Carousel */
.splide__arrow {
  display: none !important;
  background: transparent !important;
}
.splide__arrow svg {
  fill: #fff !important;
}
.splide__pagination {
  right: initial !important;
  gap: 1em;
  bottom: 20% !important;
}

.splide__pagination__page {
  width: 1em !important;
  height: 1em !important;
}

.splide__pagination__page.is-active {
  transform: none !important;
}

@media only screen and (max-width: 1100px) {
  .crew {
    grid-template-columns: 1fr;
    gap: 2em;
    min-height: auto;
  }

  .crew .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    order: 1;
    min-height: auto;
    text-align: center;
  }

  .crew .content h2 {
    font-size: 3em;
  }

  .crew .content p {
    text-align: center;
    font-size: 1.1em;
  }

  .crew .img-wrapper {
    max-width: 400px;
  }

  .splide__pagination {
    position: static !important;
    padding-bottom: .5em !important;
  }

  .splide__arrow {
    display: flex !important;
  }
}

@media only screen and (max-width: 500px) {
  .crew .content h2 {
    font-size: 1.5em;
  }
  .crew .content h3 {
    font-size: 1.2em;
  }

  .crew .content p {
    font-size: 1em;
    letter-spacing: 1px;
  }

  .crew .img-wrapper {
    max-width: 200px;
    min-height: 17em;
  }
  .splide__arrow {
    display: none !important;
  }
}