.despage:before {
  content: "";
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed;
}

.despage h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 3em;
  padding: 0 1em;
}

.despage .bold {
  color: grey;
}

@media only screen and (max-width: 400px) {
  .despage h1 {
    margin-top: 1em;
  }
}