.tech {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(2, 1fr);
}
.tech .content {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.tech .content h1 {
  margin: 0;
  padding: 0;
}

.tech .content h3,
.tech .content h2 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.tech .content h2 {
  font-size: 4em;
  margin-bottom: 0.2em;
}
.tech .content h3 {
  margin-bottom: 0.2em;
  color: rgb(153, 152, 152);
}

.tech .content p {
  font-size: 1.4em;
  letter-spacing: 1px;
  max-width: 600px;
  line-height: 1.8em;
}

.tech .button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tech button {
  width: 100px;
  height: 100px;
  font-size: 2em;
  border-radius: 50%;
  border: 1px solid grey;
  font-family: "Bellefair", serif;
}

.tech button.active {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}

.tech button:not(.active):hover {
  border: 1px solid #fff;
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  .tech {
    gap: 2em;
    grid-template-columns: 1fr;
  }

  .tech .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
    min-height: auto;
    text-align: center;
    gap: 0;
  }

  .tech .content h2 {
    font-size: 3em;
  }

  .tech .content p {
    text-align: center;
    font-size: 1.1em;
  }

  .tech .img-wrapper {
    max-width: 400px;
  }

  .tech img {
    border-bottom: 1px solid grey;
  }

  .tech .button-wrapper {
    margin-top: 0.5em;
    flex-direction: row;
  }

  .tech button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .tech {
    gap: 0.5em;
  }
  .tech button {
    width: 40px;
    height: 40px;
    font-size: 1em;
    line-height: 2.5em;
  }
  .tech .content h2 {
    font-size: 1.5em;
  }
  .tech .content h3 {
    font-size: 0.9em;
  }

  .tech .content p {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.5em;
  }

  .tech .img-wrapper {
    max-width: 250px;
    min-height: 16em;
  }
}
@media only screen and (max-width: 320px) {
  .tech .button-wrapper {
    margin-top: 0;
  }
}
