.planet-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5%;
  margin: auto;
  min-height: 60vh;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-width: 400px;
  min-height: 27em;
}

img {
  width: 95%;
}

.planet-name {
  font-size: 8rem;
}

.content .planet-desc {
  max-width: 600px;
  font-size: 1.2em;
  line-height: 1.8em;
  margin-bottom: 3em;
}

.content button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s linear;
}

.planet-container .content button {
  padding-bottom: .5em;
}

.planet-container button.active {
  border-bottom: 3px solid #fff;
}

button:not(.active):hover {
  color: rgba(255, 255, 255, 0.5);
}

.dist-travel {
  display: flex;
  gap: 5em;
  text-transform: uppercase;
  margin-top: 2em;
  padding-bottom: 2em;
}

.dist-travel h3 {
  margin: 0.5em 0 1em;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.dist-travel p {
  font-size: 2em;
  font-family: "Bellefair", serif;
}

@media only screen and (max-width: 1100px) {
  .planet-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .content {
    display: grid;
    justify-content: center;
  }
  .img-wrapper {
    justify-self: center;
  }
  .planet-desc,
  .planet-name {
    text-align: center;
  }

  .dist-travel,
  .button-wrapper {
    justify-content: center;
    margin-top: 3em;
  }

  .planet-name {
    font-size: 6em;
  }

  .content .planet-desc {
    margin-bottom: 2em;
    font-size: 1.1em;
  }

  .dist-travel {
    margin-top: 1em;
  }
  .img-wrapper {
    min-width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .planet-container {
    margin-top: 0;
    min-height: auto;
  }
  .dist-travel,
  .planet-container .button-wrapper {
    justify-content: center;
    margin-top: 0;
  }

  .planet-name {
    font-size: 3em;
  }

  .planet-container .content button {
    padding-bottom: 0.3em;
  }

  .content .planet-desc {
    margin-bottom: 1em;
    font-size: 1em;
  }

  .dist-travel {
    margin-top: 1em;
  }

  .dist-travel h3 {
    font-size: 0.8em;
  }

  .dist-travel p {
    font-size: 1em;
  }
  .img-wrapper {
    min-height: 15em;
  }
}
