* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  overflow-x: hidden;
  font-family: "Barlow Condensed", sans-serif;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
p,
h3,
h5 {
  font-weight: lighter;
  letter-spacing: 2px;
}

h2 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

button {
  letter-spacing: 1px;
}

p {
  letter-spacing: normal;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3em;
}

span.bold {
  color: grey;
}

@media only screen and (max-width: 400px) {
  h1 {
    margin-top: 1em;
  }
}
