* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  overflow-x: hidden;
  font-family: "Barlow Condensed", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #0b0d17;
}

h1,
h2,
p,
h3,
h5 {
  font-weight: lighter;
  letter-spacing: 2px;
}

h2 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

button {
  letter-spacing: 1px;
}

p {
  letter-spacing: normal;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3em;
}

.img-wrapper {
  margin-top: 3em;
}

span.bold {
  color: grey;
}

.main {
  max-width: 1500px;
  width: 90%;
  margin: auto;
}

.main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: round;
  background-size: cover;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1em;
    margin-top: 1em;
  }

  .button-wrapper {
    gap: 1em;
  }

  .content button {
    padding-bottom: 0.5em;
  }

  .img-wrapper {
    max-width: 200px;
    margin-top: 1em;
  }
}
