.homepage:before {
  background-image: url("../../assets/home/background-home-desktop.jpg");
}

.homepage.main {
  max-width: 1654px;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 95%;
  margin: auto;
  padding: 3em 0 1em;
}

.hero-txt {
  max-width: 600px;
  line-height: 1.8em;
  font-size: 1.4em;
  text-align: justify;
}

.hero-title {
  text-transform: uppercase;
}

.hero-title h5 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.hero-title h2.bold {
  font-size: 10em;
}

.explore a {
  background-color: #fff;
  color: #000;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2em;
  position: relative;
  color: #000;
  text-decoration: none;
}

.explore a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s linear;
}

.explore a:hover::before {
  transform: scale(1.5);
}

@media only screen and (max-width: 1100px) {
  .homepage:before {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero-txt {
    text-align: center;
  }

  .hero-title {
    text-align: center;
  }
}

@media only screen and (max-width: 660px) {
  .hero-title h5 {
    font-size: 1.5em;
  }

  .hero-title h2.bold {
    font-size: 8em;
  }

  .hero-txt {
    max-width: 500px;
  }

  .explore a {
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    gap: 0;
  }
  .hero-title h5 {
    font-size: 0.9em;
  }

  .hero-title h2.bold {
    font-size: 5em;
  }

  .hero-txt {
    max-width: 500px;
    font-size: 1em;
  }

  .explore a {
    width: 10rem;
    height: 10rem;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 320px) {
  .hero-title h2.bold {
    font-size: 25vw;
  }
  .explore a {
    width: 6rem;
    height: 6rem;
    font-size: 1em;
  }
}
