.homepage:before {
  content: "";
  background-image: url("../../assets/home/background-home-desktop.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: round;
  background-size: cover;
}

.hero {
  padding: 5em 0;
  min-height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 2em;
  width: 95%;
  margin: auto;
}

.hero-txt {
  max-width: 600px;
  line-height: 1.8em;
  font-size: 1.4em;
  text-align: justify;
  margin-top: 1em;
}

.hero-title {
  text-transform: uppercase;
}

.hero-title h1 {
  font-size: 1.5em;
}

.hero-title h2.bold {
  font-size: 10em;
}

.explore {
  background-color: #fff;
  color: #000;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2em;
}

@media only screen and (max-width: 1100px) {
  .homepage:before {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }

  .hero {
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
  }

  .hero-txt {
    text-align: center;
    font-size: 1em;
  }

  .hero-title {
    text-align: center;
  }

  .explore {
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 660px) {
  .hero-title h1 {
    font-size: 1em;
  }

  .hero-title h2.bold {
    font-size: 8em;
  }

  .hero-txt {
    max-width: 500px;
    font-size: 1em;
  }
}

@media only screen and (max-width: 530px) {
  .hero-title h1 {
    font-size: 0.9em;
  }

  .hero-title h2.bold {
    font-size: 5em;
  }

  .hero-txt {
    max-width: 500px;
    font-size: 1em;
  }
}

@media only screen and (max-width: 320px) {
  .hero-title h1 {
    font-size: 0.8em;
  }

  .hero-title h2.bold {
    font-size: 25vw;
  }

  .hero-txt {
    font-size: 0.9em;
  }
}
