.nav {
  display: flex;
  align-items: center;
  padding-top: 2em;
  min-height: 5vh;
  position: relative;
}

.logo {
  flex: 1;
  position: relative;
  padding-left: 5%;
}

.logo:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: grey;
  right: 0;
  top: 50%;
  transform: translate(2%, -50%);
  z-index: 1;
}

.logo img {
  width: 50px;
  z-index: 2;
  position: relative;
}

.navbar {
  flex: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
}

.navbar ul {
  width: 80%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  padding: 2.5em 0;
  position: relative;
}

.nav-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 4px;
  transition: 0.1s linear;
}

.nav-link a:not(.active):hover {
  color: grey;
}

.nav-link .bold {
  padding-right: 0.5em;
  letter-spacing: normal;
  color: #fff;
}

.bold {
  font-weight: bold;
}

.nav-link .active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

svg {
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(195, 0, 255);
}

svg:hover {
  transform: scale(1.1);
}

.audio {
  display: flex;
  align-items: center;
}

.close,
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
}
.hamburger {
  top: 50%;
  transform: translate(0%, -50%);
}

@media only screen and (max-width: 1700px) {
  .navbar ul {
    width: 90%;
  }
}
@media only screen and (max-width: 1100px) {
  .nav {
    padding-top: 0;
  }
  .nav-link .bold {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  .audio,
  .logo:after {
    display: none;
  }
  .nav-link .bold {
    display: inline;
  }
  .close,
  .hamburger {
    display: block;
  }
  .logo img {
    width: 40px;
  }

  .nav {
    min-height: 8vh;
  }

  .navbar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    backdrop-filter: blur(30px);
    z-index: 1;
    padding: 10em 0 0 5em;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: translateX(100%);
  }
  .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-link {
    padding: 2em 0 0.5em 0;
  }
  .nav-link a {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 729px) {
  .navbar {
    transition: 0.3s linear;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    padding: 10em 0 0 2em;
    width: 100%;
  }
  .nav-link a {
    font-size: 1em;
  }
  .close,
  .hamburger {
    right: 1em;
    top: 1em;
  }
  .hamburger {
    top: 50%;
    transform: translate(0%, -50%);
  }
}

.open-menu.navbar {
  transform: translateX(0);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
