.nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding-top: 2em;
}

.logo {
  flex: 1;
}

.navbar {
  flex: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
}

.navbar ul {
  width: 80%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.nav-link {
  padding: 2.5em 0;
  position: relative;
}

.nav-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

svg {
  cursor: pointer;
  font-size: 1.5em;
}

svg:hover {
  transform: scale(1.1);
}

.audio {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1700px) {
  .navbar ul {
    width: 90%;
  }
}
